<h3><%= Spree.t('order_mailer.cancel_email.dear_customer') %></h3>

<p><%= Spree.t('order_mailer.cancel_email.instructions') %></p>

<div class="email-divider"></div>
<p><%= Spree.t('order_mailer.cancel_email.order_summary_canceled') %></p>
<div class="email-divider"></div>
<table>
<% @order.line_items.each do |item| %>
  <tr>
  <td><%= item.variant.sku %></td>
  <td><%= raw(item.variant.product.name) %></td>
  <td><%= raw(item.variant.options_text) %></td>
  <td><%=item.quantity%></td>
  <td><%= item.single_money %></td>
  <td><%= item.display_amount %></td>
  </tr>
<% end %>
</table>
<div class="email-divider"></div>

<h4><%= Spree.t('order_mailer.cancel_email.subtotal', :subtotal => @order.display_item_total) %></h4>

<table>
<% @order.adjustments.eligible.each do |adjustment| %>
  <tr>
    <td><%= raw(adjustment.label) %></td>
    <td><%= adjustment.display_amount %></td>
  </tr>
<% end %>
</table>

<h4><%= Spree.t('order_mailer.cancel_email.total', :total => @order.display_total) %></h4>
